@font-face {
    font-family: 'ROKAFSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ROKAFSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
:root {
    --white-color: #FFFFFF;
    --black-color: #262626;
    --yellow-color: #F7E10E;
    --yellow-shadow: 0px 8px 8px rgba(247, 225, 30, 0.25);
}
* {
    margin: 0;
    padding: 0;
    font-family: 'ROKAFSansMedium';
    color: var(--yellow-color);
    text-decoration: none;
    list-style: none;
}
html {
    background-color: var(--black-color);
}


.background {
    position: fixed;
    top: 0;
    display: flex;
    height: 100vh;
    z-index: -1;
}
.background .city {
    width: 3840px;
    height: 100vh;
    background-image: url(images/background.png);
    background-repeat: repeat-x;
    background-size: 1920px 100vh;
    animation: to-left 15s infinite linear;
}
@keyframes to-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}


.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 8%;
    background-color: var(--black-color);
    box-shadow: var(--yellow-shadow);
    z-index: 100;
}
.nav-bar-contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo span {
    font-size: 16px;
}
.nav-bar-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
}
.nav-bar-menu li:hover {
    cursor: pointer;
    opacity: 0.5;
}


#main {
    width: 100%;
    height: 300vh;
    display: flex;
    justify-content: center;
}
.main-title {
    position: fixed;
    top: 50%;
    transform: translateY(-50%) scale(1);
    width: 320px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    opacity: 0;
}
.main-title-shadow {
    background-color: var(--black-color);
    box-shadow: var(--yellow-shadow);
}
.main-title h2 {
    font-family: 'ROKAFSansBold';
    font-size: 20px;
    animation: title-animation 5s infinite;
}
@keyframes title-animation {
    from {opacity: 1;}
    10% {opacity: 0.4;}
    12% {opacity: 1;}
    14% {opacity: 0.4;}
    16% {opacity: 1;}
    50% {opacity: 1;}
    52% {opacity: 0.7;}
    54% {opacity: 1;}
    56% {opacity: 0.7;}
    58% {opacity: 1;}
    80% {opacity: 1;}
    82% {opacity: 0.5;}
    84% {opacity: 1;}
    to {opacity: 1;}
}
.mouse-move {
    transition: 0.2s;
}
.scroll-down {
    position: fixed;
    top: 90%;
    display: flex;
    justify-content: center;
    width: 16px;
    height: 32px;
    border: 2px solid var(--yellow-color);
    border-radius: 20px;
    animation: scroll-down-animation 2s infinite;
}
@keyframes scroll-down-animation {
    from {
        transform: translateY(0);
        opacity: 0;
    }
    20% {
        transform: translateY(0);
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    to {
        transform: translateY(8px);
        opacity: 0;
    }
}
.mouse-wheel {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: var(--yellow-color);
    animation: mouse-wheel-animation 2s infinite;
}
@keyframes mouse-wheel-animation {
    from {
        transform: translateY(0);
        opacity: 0;
    }
    20% {
        transform: translateY(0);
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    to {
        transform: translateY(16px);
        opacity: 0;
    }
}

section {
    padding: 40px 0;
}
.who-am-i {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section1-contents {
    width: 320px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h3 {
    font-family: 'ROKAFSansBold';
    font-size: 24px;
}
.introduce {
    width: 100%;
    padding-top: 40px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
}
.introduce h4 {
    font-family: 'ROKAFSansBold';
    text-align: center;
    font-size: 16px;
    padding-bottom: 40px;
}
.introduce p {
    text-align: justify;
    font-size: 14px;
    padding-bottom: 40px;
}
.introduce-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}
.introduce-tag {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.introduce-tag p {
    font-size: 10px;
}


.my-skills {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section2-contents {
    width: 320px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.skills-icons {
    display: grid;
    grid-template-columns: repeat(3, 96px);
    grid-auto-rows: 96px;
    grid-row-gap: 12px;
    width: 100%;
    justify-content: space-between;
    margin-top: 40px;
}
.skills-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: var(--black-color);
    box-shadow: var(--yellow-shadow);
}
.skills-box figure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}
.skills-box img {
    width: 80%;
}
.skills-box p {
    font-family: 'ROKAFSansBold';
    color: var(--white-color);
    font-size: 12px;
}


.my-works {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section3-contents {
    width: 320px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.work-box-grid {
    display: grid;
    grid-template-columns: repeat(1, 320px);
    grid-auto-rows: 180px;
    grid-gap: 32px;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}
.work-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: var(--yellow-shadow);
    position: relative;
    padding: 16px;
}
.work-box p {
    opacity: 0;
    font-family: 'ROKAFSansBold';
}
.work-box a {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
}
.work-box>.works-title {
    font-size: 16px;
    padding-bottom: 8px;
}
.work-box>.works-sub {
    font-size: 14px;
}
.korea-taekwondo-associtaion {
    background: url(images/kta_main.png);
    background-size: 100% 100%;
}
.hyeon-sik {
    background: url(images/hs_main.png);
    background-size: 100% 100%;
}
.loading {
    background: var(--black-color);
}
.loading figure {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.ready {
    padding-top: 16px;
}
.border-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 32px);
    height: calc(100% - 32px);
}
.border-container>div {
    position: absolute;
    background-color: var(--yellow-color);
}
.top {
    top: 0;
}
.left {
    left: 0;
}
.bottom {
    bottom: 0;
}
.right {
    right: 0;
}
.top.left, .bottom.right {
    width: 0;
    height: 2px;
}
.top.right, .bottom.left {
    width: 2px;
    height: 0;
}
.work-box:hover .top.left, .work-box:hover .bottom.right {
    animation: grow-width 0.5s linear;
    animation-fill-mode: both;
}
.work-box:hover .top.right, .work-box:hover .bottom.left {
    animation: grow-height 0.5s linear;
    animation-fill-mode: both;
}
.work-box:hover p {
    opacity: 1;
    transition: 1s;
}
.work-box:hover figure {
    transform: rotate(720deg);
}
.work-box:hover {
    background: var(--black-color);
}
@keyframes grow-width {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@keyframes grow-height {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}
.my-work-resume {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.resume {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48%;
    height: 60px;
    border-radius: 12px;
    background-color: var(--yellow-color);
    transition: 0.2s;
}
.resume p {
    font-size: 14px;
    color: var(--black-color);
}
.resume:hover {
    opacity: 0.5;
}


.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section4-contents {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
}
.contact-text {
    padding-top: 40px;
}
.contact-text P {
    font-size: 20px;
    margin-bottom: 16px;
}
.contact-text .e-mail:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.2s;
}
.mail-copy {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 240px;
    height: 56px;
    border-radius: 10px;
    background-color: var(--yellow-color);
    opacity: 0;
}
.mail-copy p {
    color: var(--black-color);
}
.complete-copy {
    animation: copy-complete 2.5s;
}
@keyframes copy-complete {
    from {
        opacity: 0;
    }
    50% {
        opacity: 0.7;
    }
    to {
        opacity: 0;
    }
}
.copyright p {
    font-size: 14px;
}


.go-to-main {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    opacity: 0;
    transition: 0.2s;
}
.go-to-main:hover {
    cursor: pointer;
    opacity: 0.5 !important;
}


section {
    transform: translateY(100px);
    opacity: 0;
    transition: 1s;
}
.fade-in {
    transform: translateY(0);
    opacity: 1;
}