@font-face {
    font-family: 'ROKAFSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ROKAFSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
:root {
    --white-color: #FFFFFF;
    --black-color: #262626;
    --yellow-color: #F7E10E;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'ROKAFSansMedium';
    color: var(--yellow-color);
    text-decoration: none;
    list-style: none;
}
html {
    background-color: var(--black-color);
}


/* ------------------------- main -------------------------*/
#main {
    width: 100%;
    height: 240vh;
    display: flex;
    justify-content: center;
}
.main-title {
    position: fixed;
    top: 50%;
    transform: translateY(-50%) scale(100%);
    width: 1080px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black-color);
    transition: 0.5s;
}
.main-title-shadow {
    box-shadow: -12px 12px 8px rgba(247, 223, 30, 0.25);
}
.main-title h1 {
    font-family: 'ROKAFSansBold';
    font-size: 64px;
    animation: title-ani 5s infinite;
}
@keyframes title-ani {
    from {
        opacity: 1;
    }
    10% {
        opacity: 0.4;
    }
    12% {
        opacity: 1;
    }
    14% {
        opacity: 0.4;
    }
    16% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    52% {
        opacity: 0.7;
    }
    54% {
        opacity: 1;
    }
    56% {
        opacity: 0.7;
    }
    58% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    82% {
        opacity: 0.5;
    }
    84% {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: var(--black-color);
    box-shadow: 0px 8px 8px rgba(247, 225, 30, 0.25);
    z-index: 100;
}
.nav-bar-contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1080px;
}
.moon-box {
    margin-top: 70px;
    width: 150px;
    height: 150px;
    border-bottom-left-radius: 75px;
    border-bottom-right-radius: 75px;
    background-color: var(--black-color);
    box-shadow: 0px 8px 20px rgba(247, 225, 30, 0.25);
}
.moon-box img {
    margin-left: 15px;
    margin-top: 15px;
    animation: rotation 4s infinite ease-in-out;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.nav-bar ul {
    display: flex;
    justify-content: space-between;
}
.nav-bar ul li {
    font-size: 20px;
    transition: 0.2s;
    margin-left: 24px;
}
.nav-bar ul li:hover {
    cursor: pointer;
    opacity: 0.5;
}


/* ------------------------- who-am-i -------------------------*/
.who-am-i {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section1-contents {
    width: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h2 {
    font-family: 'ROKAFSansBold';
    font-size: 64px;
}
.introduce {
    width: 1080px;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.introduce h4 {
    font-family: 'ROKAFSansBold';
    font-size: 40px;
    padding-bottom: 56px;
}
.introduce p {
    font-size: 24px;
    margin-bottom: 32px;
}
.introduce-tag {
    width: 1080px;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
}
.tag-box {
    width: 164px;
    height: 40px;
    border: 2px solid var(--yellow-color);
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tag-box>p {
    font-size: 20px;
}


/* ------------------------- my-skills -------------------------*/
.my-skills {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 140px;
}
.section2-contents {
    width: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}
.skills-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1080px;
    margin-top: 80px;
}
.skills-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 16px;
    box-shadow: -8px 8px 8px rgba(247, 223, 30, 0.25);
}
.skills-box p {
    font-family: 'ROKAFSansBold';
    color: var(--white-color);
    font-size: 16px;
}


/* ------------------------- my-works -------------------------*/
.my-works {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 300px;
}
.section3-contents {
    width: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}
.work-box-grid {
    display: grid;
    grid-template-columns: repeat(2, 520px);
    grid-auto-rows: 300px;
    grid-gap: 40px;
    margin-top: 80px;
    margin-bottom: 80px;
}
.work-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -8px 8px 8px rgba(247, 223, 30, 0.25);
    position: relative;
    padding: 16px;
}
.work-box p {
    opacity: 0;
    font-family: 'ROKAFSansBold';
}
.work-box a {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
}
.work-box>.works-title {
    font-size: 20px;
    padding-bottom: 8px;
}
.work-box>.works-sub {
    font-size: 16px;
}
.korea-taekwondo-associtaion {
    background: url(images/kta_main.png);
    background-size: 100% 100%;
}
.hyeon-sik {
    background: url(images/hs_main.png);
    background-size: 100% 100%;
}
.loading {
    background: var(--black-color);
}
.loading figure {
    transition: 1s;
}
.ready {
    padding-top: 16px;
}
.border-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 32px);
    height: calc(100% - 32px);
}
.border-container>div {
    position: absolute;
    background-color: var(--yellow-color);
}
.top {
    top: 0;
}
.left {
    left: 0;
}
.bottom {
    bottom: 0;
}
.right {
    right: 0;
}
.top.left, .bottom.right {
    width: 0;
    height: 2px;
}
.top.right, .bottom.left {
    width: 2px;
    height: 0;
}
.work-box:hover .top.left, .work-box:hover .bottom.right {
    animation: grow-width 0.5s linear;
    animation-fill-mode: both;
}
.work-box:hover .top.right, .work-box:hover .bottom.left {
    animation: grow-height 0.5s linear;
    animation-fill-mode: both;
}
.work-box:hover p {
    opacity: 1;
    transition: 1s;
}
.work-box:hover figure {
    transform: rotate(720deg);
}
.work-box:hover {
    background: var(--black-color);
}
@keyframes grow-width {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@keyframes grow-height {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}
.my-work-resume {
    display: flex;
    justify-content: space-between;
    width: 1080px;
}
.resume {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 530px;
    height: 120px;
    border-radius: 20px;
    background-color: var(--yellow-color);
    transition: 0.2s;
}
.resume p {
    font-size: 32px;
    color: var(--black-color);
}
.resume:hover {
    opacity: 0.5;
}


/* ------------------------- contact -------------------------*/
.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}
.section4-contents {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 320px;
}
.contact-text {
    margin-top: 80px;
}
.contact-text P {
    font-size: 32px;
    margin-bottom: 16px;
}
.contact-text .e-mail:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.2s;
}
.mail-copy {
    position: absolute;
    top: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 56px;
    border-radius: 10px;
    background-color: var(--yellow-color);
    opacity: 0;
}
.mail-copy p {
    color: var(--black-color);
}
.complete-copy {
    animation: copy-complete 3s;
}
@keyframes copy-complete {
    from {
        opacity: 0;
    }
    50% {
        opacity: 0.7;
    }
    to {
        opacity: 0;
    }
}
.copyright {
    padding-bottom: 80px;
}
.copyright p {
    font-size: 20px;
}


.go-to-main {
    position: fixed;
    bottom: 40px;
    right: 40px;
    transition: 0.2s;
}
.go-to-main:hover {
    cursor: pointer;
    opacity: 0.5;
}


/* ------------------------- fade-in -------------------------*/
section {
    transform: translateY(100px);
    opacity: 0;
    transition: 1s;
}
.fade-in {
    transform: translateY(0);
    opacity: 1;
}